streamlit
yfinance
pandas
matplotlib
PyPortfolioOpt
plotly
feedparser
sentence-transformers
faiss-cpu
langchain
langchain-core
langchain-text-splitters
google-genai
numpy
scipy
scikit-learn
